.heroContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.heroUpper {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  border-radius: 20px;
  background-color: #fff6fd;
  /* min-width: 450px;
    overflow: hidden; */
}

.heroLeft {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  padding-block: 106.5px;
  padding-left: 60px;
  gap: 40px;
  /* padding: 64px 0 78px 60px; */
  max-width: 570px;
  /* padding:106px 633px 106px 60px; */
}

.heroContent {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.heading h1 {
  font-size: 60px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -1%;
  margin: 0;
  padding-left: 236px;
  color: #000000;
}

.heading span {
  display: inline-flex;
  align-items: center;
  font-weight: 400;
  font-size: 60px;
  line-height: 100%;
  letter-spacing: -1%;
}

.heroLeft p {
  margin: 0;
  font-weight: 300;
  font-size: 30px;
  line-height: 120%;
  letter-spacing: -1%;
  color: #000000;
}

.heading img {
  margin-left: 10px;
  width: 45px;
  height: 45px;
  padding-top: 7px;
}
.shopBtn {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  /* gap: 10px; */
  max-width: 230px;
  border: 0.7px solid #000000;
  border-radius: 70px;
  background-color: #000000;
  color: white;
  padding: 10px 20px;
  gap:2px;
}

.shopBtn button {
  background-color: transparent;
  color: white;
  border: none;
  font-size: 32px;
  font-weight: 300;
  letter-spacing: -1%;
  line-height: 120%;
}

.heroRight {
  max-width: 440px;
  max-height: 460px;
  padding-top: 64px;
}

.heroRight img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.heroBottom {
  background-color: #f0f0f0;
  display: flex;
  padding: 50px 40px;
  flex-direction: column;
}

.bottomHeading {
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;
  letter-spacing: -1%;
  color: #000000;
}

.bottomContent {
  padding-top: 50px;

  display: flex;
  flex-direction: row;
  gap: 24px;
}
.bottomContentLeft {
  width: 50%;
}
.bottomContent img {
  max-width: 560px;
  height: 426px;
}

.bottomInformation {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.bottomInformation h3 {
  font-weight: 400;
  font-size: 28px;
  line-height: 120%;
  letter-spacing: -1%;
  color: #000000;
}

.bottomInformation p {
  font-width: 300;
  font-size: 27px;
  line-height: 150%;
  letter-spacing: -1%;
  color: #000000;
}

.exploreBtn {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 7.14px;
  width: fit-content;
  border: 0.71px solid #cfcfcf;
  border-radius: 71.38px;
  background-color: white;
  padding: 10.71px 21.41px;
}

.exploreBtn button {
  border: transparent;
  background-color: transparent;
  font-weight: 300;
  font-size: 32px;
  line-height: 120%;
  letter-spacing: -1%;
  color: #000000;
}

.exploreBtn img {
  width: 39.54px;
  height: 39.54px;
}

@media (max-width: 768px) {
  .heroUpper {
    display: flex;
    flex-direction: column;
  }
  .heroLeft {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 40px;
    padding-block: 80px;
    gap: 40px;
  }
  .heading span {
    display: flex;
    justify-content: center;
  }
  .heading img {
    display: none;
  }
  .heading h1 {
    text-align: center;
    padding-top: 11px;
    padding-left: 0px;
  }
  .heroLeft p {
    text-align: center;
    padding-top: 16px;
  }
  .heroRight {
    display: none;
  }
  .bottomContent{
    display: flex;
    flex-direction: column;
    padding-top:26px
  }
  .bottomHeading{
    font-size:40px;
  }
  .bottomContentLeft, .bottomInformation{
    width: 100%;
  }
  .bottomInformation{
    gap:16px
  }
  .bottomContent img{
    width: 100%;
    max-width: 100%;
    height: auto;
  }
  .bottomInformation h3{
    font-size: 26px;
  }
  .bottomInformation p{
    font-size: 20px;
    /* gap:8.5px; */
  }
  .exploreBtn{
    padding: 8.5px 18.5px;
  }
  .exploreBtn button{
    font-size: 29px;
  }
  .exploreBtn img{
    width: 34px;
    height: 34px;
  }
}

@media (max-width:425px){

  .heroLeft{
    padding:62px 4px;
  }

  .heading span, .heading h1{
    font-size: 45px;
  }
  .heading{
    display: flex;
    flex-direction: column;
  }
  .heroLeft p{
    font-size:18px;
  }
  .heroBottom{
    padding:30px 16px;
  }
  .bottomHeading{
    font-size: 24px;
  }
  .bottomContent{
    gap:24px;
    padding-top: 16px;
  }
  .bottomInformation{
    padding-left: 5px;
    padding-right: 5px;
    gap: 11px;
  }
  .bottomInformation h3{
    font-size: 20px;
  }
  .bottomInformation p{
    font-size: 14px;
    /* padding-left: ; */
  }
  .exploreBtn{
    padding: 7.5px 15.5px;
    margin-top: 18px  ;
  }
  .exploreBtn button{
    font-size: 22px;
  }
}