.homeContainer{
    display: flex;
    flex-direction: column;
    gap:100px; 
}

@media (max-width: 1024px) {
  .homeContainer {
    gap: 58px;
  }
}

@media (max-width: 768px) {
  .homeContainer {
    gap: 38px;
  }
}
@media (max-width: 425px) {
  .homeContainer {
    gap: 20px;
  }
}