.homeContainer{
    display: flex;
    flex-direction: column;
    gap:100px; 
}

@media (max-width: 1024px) {
  .homeContainer {
    gap: 68px;
  }
}

@media (max-width: 768px) {
  .homeContainer {
    gap: 50px;
  }
}
@media (max-width: 425px) {
  .homeContainer {
    gap: 32px;
  }
}